{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div>
<h1>This is {{ controller_name }}. App will be here </h1>
<a href="{{path('app_main')}}"> Go back to Main</a>
<a href="{{path('app_help')}}"> Go to HELP</a>

</div>
{% endblock %}
