{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	<div class="wrapper">

		<header>
			<div class="logo">
				<a href="{{path('app_main')}}">Undefined</a>
			</div>
			<nav>
				<ul>
					<a href="{{path('app_main')}}">Home</a>
					<a href="{{path('app_app')}}">Todo</a>
					<a href="{{path('app_help')}}">About us</a>

				</ul>
			</nav>
		</header>
		<main></main>
		<footer>
			<small>
				© React23K Undefined team</small>
		</footer>

	</div>
{% endblock %}
