{% extends 'base.html.twig' %}

{% block title %}HelpController{% endblock %}

{% block body %}

<div>
    <h1>This is {{ controller_name }}</h1>
    <a href="{{path('app_app')}}"> Go to App</a>
    <a href="{{path('app_main')}}"> Go to another page</a>

</div>
{% endblock %}
