{% extends 'base.html.twig' %}

{% block title %}MainController{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>This is {{ controller_name }}</h1>
    <a href="{{path('app_app')}}"> Go to App</a>

</div>
{% endblock %}
